[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nkarpin
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nkarpin
	label-Verified = -1..+1 group user/nkarpin
	push = group user/nkarpin
	read = group user/nkarpin
	rebase = group user/nkarpin
	removeReviewer = group user/nkarpin
	submit = group user/nkarpin
[access "refs/heads/*"]
	create = group user/nkarpin
	push = +force group user/nkarpin
	pushMerge = group user/nkarpin
	read = group user/nkarpin
[access "refs/tags/*"]
	push = group user/nkarpin
	push = +force group user/nkarpin
